//
// Carousel
// --------------------------------------------------

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  @include transition(height 400ms);
}

/*
 *  Core Owl Carousel Styles
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-controls {
    text-align: center;
    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
      cursor: pointer;
      @include user-select(none);
    }
    .owl-nav {
      .owl-prev, .owl-next {
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -$carousel-navs-size / 2;
        width: $carousel-navs-size;
        height: $carousel-navs-size;
        line-height: $carousel-navs-size;
        text-align: center;
        font-size: $carousel-navs-icon-size;
        color: white;
        // font-size: 60px;
        // color: $carousel-navs-color;
        // background-color: $carousel-navs-bg;
        opacity: $carousel-controls-opacity;
        @include backface-visibility(hidden);
        @include transition(opacity .3s ease-out);
        &:before {
          font-family: "Material Icons";
          /* <i class="material-icons">&#xE5C8;</i>
          <i class="material-icons">&#xE5C4;</i> */
          // content: "\e8e4";
          content: "\E5C8";
          line-height: $carousel-navs-size;
        }
        &:hover { opacity: 1; }
      }
      .owl-prev {
        left: 15px;
        @include transform(rotate(180deg));
      }
      .owl-next { right: 15px; }
    }

    .owl-dots {
      position: absolute;
      z-index: 10;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 35px;
      .owl-dot {
        display: inline-block;
        width: $carousel-dots-size;
        height: $carousel-dots-size;
        border-radius: 50%;
        background-color: $carousel-dots-color;
        opacity: $carousel-controls-opacity;
        margin: 0 5px;
        @include transition(opacity .25s);
        &.active { opacity: 1; }
      }
    }
  }
  &.owl-loaded { display: block; }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden { opacity: 0; }
  .owl-refresh .owl-item { display: none; }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @include user-select(none);
    img {
      display: block;
      margin: 0 auto;
      -webkit-transform-style: preserve-3d;
    }
  }
  &.owl-text-select-on .owl-item {
    @include user-select(auto);
  }
  .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item { float: right; }
  }
}

/* No Js */
.no-js .owl-carousel { display: block; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  @include transition(opacity 400ms);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
