$b : 1px solid #f09;

@font-face {
    font-family: 'quarklight';
    src: url('../fonts/quark-light-webfont.eot');
    src: url('../fonts/quark-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/quark-light-webfont.woff2') format('woff2'),
    url('../fonts/quark-light-webfont.woff') format('woff'),
    url('../fonts/quark-light-webfont.ttf') format('truetype'),
    url('../fonts/quark-light-webfont.svg#quarklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quarkbold';
    src: url('../fonts/quark-bold-webfont.eot');
    src: url('../fonts/quark-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/quark-bold-webfont.woff2') format('woff2'),
    url('../fonts/quark-bold-webfont.woff') format('woff'),
    url('../fonts/quark-bold-webfont.ttf') format('truetype'),
    url('../fonts/quark-bold-webfont.svg#quarkbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'quarklight';
  strong{
  	font-family: 'quarkbold';
  }
}


.site-logo{
	width: 100% \9;
}

/* .main-navigation>.menu li>a:hover,
.main-navigation>.menu>li .sub-menu>li>a:hover{
	color: $link-hover-color;
} */

.slide{
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: white;
	}
	.h1{
		font-size: 3.5em;
		line-height: 1.3em;
	}
	.h2{
		margin: 0px;
	}
	.container{
		padding: 80px 30px;
	}
	.btn{
		background-color: white;
		color: $gray;
	}
}

.hero-slider{
	.owl-carousel{
		.owl-controls{
			.owl-nav{
				.owl-next, .owl-prev{
				font-size: 40px;
				width: auto;
				}
			}
		}
	}
}
.countdown{
	.item{
		margin: 0px 2px;
	}
}

.container{
	/* width: 1200px !important;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-right: 0px; */
}
.navbar{
	// min-width: 1200px;
}
/* .h1{
	font-size: 100px;
	line-height: .9em;
	@media (max-width: $screen-md-min) {
		font-size: 10px;
	}
} */
.navbar{
	background-color: #f6f6f6;

}
.special{
	display: none;
}
.specialSale{
	@extend .shop-label, .text-danger
}
.specialPopular{
	@extend .shop-label, .text-warning
}
.oldprice0{
	display: none;
}
#whatisceegadget{
	padding-top: 40px;
}
.shop-item-title,
.info-box h3{
	text-transform: uppercase;
}
.btn-primary{
	@extend .waves-effect, .waves-light
}