@@include('inc/wrapper_top.html')
<!-- <div class="container"> -->
@@include('inc/header.html')


  <!-- Featured Image -->
  <!-- <div class="featured-image" style="background-image: url(img/featured-image/faq.jpg);"></div> -->

  <!-- Content -->
  <section class="container padding-top-3x padding-bottom-2x">
    <h1 class="text-center">User Account</h1>
    <div class="row padding-top">
      <div class="col-md-4 col-md-offset-4 padding-bottom">
        <h3 class="text-center">Login</h3>
        <form method="post" class="login-form">
          <input type="text" class="form-control" placeholder="Username" required>
          <input type="password" class="form-control" placeholder="Password" required>
          <div class="form-footer">
            <div class="rememberme">
              <label class="checkbox">
                <input type="checkbox" checked> Remember me
              </label>
            </div>
            <div class="form-submit">
              <a href="account.html" class="btn btn-primary btn-block">Login</a>
            </div>
          </div>
        </form><!-- .login-form -->
      </div><!-- .col-md-4 -->
    </div><!-- .row -->

    <div class="row padding-top">
        <h3 class="text-center">Register</h3>
      <div class="col-md-4 col-md-offset-2">
        <div class="inner">
          <form method="post" class="login-form">
            <input type="email" class="form-control" placeholder="E-mail" required>
            <input type="password" class="form-control" placeholder="Password" required>
            <input type="password" class="form-control" placeholder="Repeat password" required>
            <div class="form-footer">
              <!-- <div class="rememberme"></div> -->
              <div class="form-submit">
                <a href="account.html" class="btn btn-primary btn-block">Sign up</a>
              </div>
            </div>
          </form><!-- .login-form -->
        </div><!-- .inner -->
      </div><!-- .col-md-4.col-md-offset-1 -->
      <!-- </div> --><!-- .row -->


      <!-- <div class="row padding-top"> -->
      <div class="col-md-4">
        <a href="#" class="social-signup-btn ssb-facebook">
          <i class="socicon-facebook"></i>
          <span>Signup with Facebook</span>
        </a>
        <a href="#" class="social-signup-btn ssb-google">
          <i class="socicon-googleplus"></i>
          <span>Signup with Google+</span>
        </a>
        <a href="#" class="social-signup-btn ssb-twitter">
          <i class="socicon-twitter"></i>
          <span>Signup with Twitter</span>
        </a>
      </div><!-- .col-md-3 -->
    </div><!-- .row -->
  </section><!-- .container -->


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
