
    <!-- Brands -->
    <section class="container padding-top-2x padding-bottom">
      <hr>
      <h3 class="text-center padding-top-2x">More brands</h3>
      <div class="row padding-top">
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/01.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/02.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/03.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/04.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/05.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
        <!-- Brand -->
        <div class="col-sm-4 col-xs-6">
          <a href="#" class="brand">
            <div class="brand-logo opacity-75">
              <img src="img/brands/06.svg" alt="Brand">
            </div>
            <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi est corrupti sapiente itaque.</p>
          </a>
        </div>
      </div><!-- .row -->
    </section><!-- .container -->
