<!-- Featured Categories -->
      <h3 class="text-center padding-top">Categories</h3>
      <div class="row padding-top padding-bottom-3x">
        <div class="col-sm-4 col-xs-4">
          <a href="#" class="category-link">
            <img src="img/categories/cat01.jpg" class="img-circle" alt="Category">
            โทรศัพท์มือถือและ tablet
          </a><!-- .category-link -->
        </div><!-- .col-sm-4 -->
        <div class="col-sm-4 col-xs-4">
          <a href="#" class="category-link">
            <img src="img/categories/cat02.jpg" class="img-circle" alt="Category">
            Gadgets น่าลอง
          </a><!-- .category-link -->
        </div><!-- .col-sm-4 -->
        <div class="col-sm-4 col-xs-4">
          <a href="#" class="category-link">
            <img src="img/categories/cat03.jpg" class="img-circle" alt="Category">
            กล้องและอุปกรณ์ถ่ายภาพ
          </a><!-- .category-link -->
        </div><!-- .col-sm-4 -->
      </div><!-- .row -->