    <!-- Navbar -->
    <!-- Remove ".navbar-sticky" class to make navigation bar scrollable with the page. -->
    <!-- <header class="navbar"> -->
    <header class="navbar navbar-sticky">

      <!-- Site Logo -->
      <a href="index.html" class="site-logo visible-desktop">
        <img src="img/graphic/logo_cee.svg">
        <!-- <span>[</span> CEE///////

        <span class="text-gray">/</span>
        STORE <span>]</span> -->
      </a><!-- site-logo.visible-desktop -->
      <a href="index.html" class="site-logo visible-mobile">
        <img src="img/graphic/logo_cee.svg">
        <!-- <span>[</span> CEE++++++++++++ <span>]</span> -->
      </a><!-- site-logo.visible-mobile -->

      <!-- Main Navigation -->
      <!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
      <nav class="main-navigation text-center">
        <ul class="menu">
          <li class="menu-item-has-children">
            <a href="#">Gadgets</a>
            <ul class="sub-menu">
              <li><a href="#">โทรศัพท์มือถือและ tablet</a></li>
              <li><a href="#">Gadgets น่าลอง</a></li>
              <li><a href="#">กล้องและอุปกรณ์ถ่ายภาพ</a></li>
            </ul>
          </li>
          <!-- <li><a href="blog.html">รีวิว</a></li> -->
          <!-- <li><a href="about.html">เกี่ยวกับเรา</a></li> -->
          <li><a class="anchorlink" href="index.html#whatisceegadget">cee gadget คืออะไร?</a></li>
          <!-- <li><a href="contacts.html">ติดต่อเรา</a></li> -->
          <li><a class="anchorlink" href="index.html#faq">FAQ/ติดต่อสอบถาม</a></li>
          <!-- <li><a href="login.html">Login/Register</a></li> -->
        </ul><!-- .menu -->
      </nav><!-- .main-navigation -->

      <!-- Toolbar -->
      <div class="toolbar">
        <div class="inner">
          <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>

          <a href="login.html"><i class="material-icons person"></i></a>

          <div class="cart-btn">
            <a href="shopping-cart.html">
              <i>
                <span class="material-icons shopping_basket"></span>
                <span class="count">2</span>
              </i>
            </a>
            <!-- Cart Dropdown -->
            <div class="cart-dropdown">
              <div class="cart-item">
                <a href="shop-single.html" class="item-thumb">
                  <img src="img/cart/item01.jpg" alt="Item">
                </a>
                <div class="item-details">
                  <h3 class="item-title"><a href="shop-single.html">Concrete Lamp</a></h3>
                  <h4 class="item-price">1 x $85.90</h4>
                </div>
                <a href="#" class="close-btn">
                  <i class="material-icons close"></i>
                </a>
              </div><!-- .cart-item -->
              <div class="cart-item">
                <a href="shop-single.html" class="item-thumb">
                  <img src="img/cart/item02.jpg" alt="Item">
                </a>
                <div class="item-details">
                  <h3 class="item-title"><a href="shop-single.html">Storage Box</a></h3>
                  <h4 class="item-price">2 x $38.00</h4>
                </div>
                <a href="#" class="close-btn">
                  <i class="material-icons close"></i>
                </a>
              </div><!-- .cart-item -->
              <div class="cart-subtotal">
                <div class="column">
                  <span>Subtotal:</span>
                </div>
                <div class="column">
                  <span class="amount">$161.90</span>
                </div>
              </div>
            </div><!-- .cart-dropdown -->
          </div><!-- .cart-btn -->
        </div><!-- .inner -->
      </div><!-- .toolbar -->
    </header><!-- .navbar.navbar-sticky -->



