
    <!-- Hero Slider -->
    <!-- Data API:
      data-loop="true/false" enable/disable looping
      data-autoplay="true/false" enable/disable carousel autoplay
      data-interval="3000" autoplay interval timeout in miliseconds
      Simply add necessary data attribute to the ".hero-carousel" with appropriate value to adjust carousel functionality.
     -->
    <section class="hero-slider" data-loop="true" data-autoplay="true" data-interval="7000">
      <div class="inner">
        @@loop('hero_slide.html', [
          {
            "img": "heroes_3", 
            "align": "text-right", 
            "h1": "อย่าช้า มีเครื่องเดียว <strong>DJI INSPIRE 2</strong><br>โดรน PRO ระดับ HOLLYWOOD</span>", 
            "h2": "<span class='text-thin'>เช่า </span> <strong>ราคาพิเศษลด 25%</strong>"
          },
          {
            "img": "heroes_1", 
            "align": "text-left", 
            "h1": "จำนวนจำกัด! <strong><br>SAMSUNG GALAXY S8/S8+</strong>", 
            "h2": "<span class='text-thin'>เช่า (หรือซื้อ) </span> <strong>ราคาพิเศษ</strong>"
          },
          {
            "img": "heroes_2", 
            "align": "text-center", 
            "h1": "<strong>NINTENDO SWITCH</strong> : ช้าหมด อดเล่น", 
            "h2": "<span class='text-thin'>เช่า </span> <strong>ราคาพิเศษลด 50%</strong>"
          }
        ])
      </div><!-- .inner -->
    </section><!-- .hero-slider -->


