     <section id="whatisceegadget">
    <!-- Video Popup -->
    <div class="fw-section space-top-2x padding-top-3x padding-bottom-3x" style="background-image: url(img/video_bg.jpg);">
      <div class="container padding-top-3x padding-bottom-3x text-center">
        <div class="space-top-3x space-bottom">
          <!-- Add ".light-skin" class to alter appearance. -->
          <a href="https://www.youtube.com/watch?v=8nrFCSg86BM" class="video-popup-btn">
          <!-- <a href="https://player.vimeo.com/video/135832597?color=77cde3&title=0&byline=0&portrait=0" class="video-popup-btn"> -->
            <i class="material-icons play_arrow"></i>
          </a>
        </div>
        <p class="space-bottom-2x">เค้าเช่ากันยังไง คลิ้กดูวิดีโอเลยค่ะ</p>
      </div>
    </div><!-- .fw-section -->
  </section>